@for (package of allPackages; track package.id) {
<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[rightTemplate, middleAction, leftAction]">
    <nz-card-meta nzTitle={{package.name}} nzDescription={{package.description}}></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
</ng-template>
<ng-template #rightTemplate>
    @if (admin) {
    <nz-icon nzType="edit" />
    }
</ng-template>
<ng-template #middleAction>
    @if (!admin) {
    <div class="cart-with-plus">
        <nz-icon nzType="shopping-cart" nzTheme="outline" nzTwotoneColor="#52c41a" [nzRotate]="0">
        </nz-icon>
        <nz-icon nzType="plus" nzTheme="outline" class="plus-icon" nzTwotoneColor="#52c41a" [nzRotate]="0">
        </nz-icon>
    </div>
    }
</ng-template>
<ng-template #leftAction>
    @if (admin) {
    <nz-icon nzType="close" nzTheme="outline" (click)="showDeleteConfirm(package.id)" />
    }
</ng-template>
}

<button nz-button nzType="primary" (click)="showModal2()">
    <span>In Component</span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="הוספת חבילה" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>שם</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="name" placeholder="async validate try to write JasonWood" />
                    <ng-template #userErrorTpl let-control>
                        @if (control.errors?.['required']) {
                        שם הוא שדה חובה!
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7">תיאור</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="description" placeholder="description" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>כמות כרטיסים</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input numOfCards!">
                    <input nz-input type="numOfCards" formControlName="numOfCards" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>מחיר</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input price!">
                    <input nz-input type="price" formControlName="price" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="default" (click)="handleCancel()"
                        (click)="resetForm($event)">ביטול</button>
                    <button nz-button (click)="handleOk()" nzType="primary" [disabled]="!validateForm.valid"
                        nzLoading]="isConfirmLoading">אישור</button>
                </nz-form-control>
            </nz-form-item>

        </form>
    </div>
    <div *nzModalFooter>
    </div>
</nz-modal>