<nz-layout>
  <nz-sider>Sider</nz-sider>
  <nz-layout>
    <nz-header><app-header></app-header></nz-header>
    <nz-content><app-login></app-login></nz-content>
    <nz-content><app-register></app-register></nz-content>
    <!-- <nz-content><app-gift></app-gift> <app-package></app-package></nz-content> -->
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
<router-outlet>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure laboriosam ab consequuntur corrupti maiores
  ea. Quia veritatis maxime nam nihil blanditiis mollitia accusamus laudantium dolor itaque voluptatum iusto earum
  doloribus voluptatem atque sint, rem, consequatur ea incidunt. In asperiores inventore obcaecati ratione molestiae
  consectetur natus qui, impedit perferendis hic quibusdam optio autem fugiat architecto sit dolore dicta? Explicabo
  quod sed, perferendis quisquam accusamus placeat incidunt debitis quas aut, alias voluptatibus at quaerat? Eveniet
  similique expedita placeat voluptate minima aspernatur quidem dolorum recusandae, rem repellat obcaecati aut quas
  atque quibusdam tenetur quis, explicabo laboriosam iste eos. Aspernatur et quidem repellat impedit soluta consequatur
  maxime, nisi cupiditate explicabo accusamus, molestiae sint ullam facere in expedita quas quisquam. Facilis sit illum
  facere totam perferendis? Impedit possimus tempore alias quis excepturi fugit iure. Nisi quo ipsa totam officiis.
  Vitae ut laboriosam labore perferendis architecto, voluptatem enim nesciunt ducimus eum. Ea dignissimos dolorem
  tenetur quae laboriosam sequi, magni, nemo nihil mollitia quibusdam aspernatur. Reprehenderit quibusdam doloribus
  tenetur et veniam at, consequuntur dolor obcaecati dolorum impedit incidunt inventore quis, ipsam, ratione repellat
  eos dolorem. Repellat, aut. Amet voluptatem dolores eius soluta ducimus asperiores cumque autem temporibus assumenda,
  mollitia doloremque unde tenetur at quidem beatae hic animi veritatis eos placeat nemo repellendus rem accusamus
  delectus. Provident quasi hic at nesciunt doloremque maiores iure soluta dolor similique qui necessitatibus odit,
  nobis minima suscipit ex. Nemo nihil aperiam laboriosam ipsam, itaque nam quasi natus culpa assumenda tempora rerum
  ut, saepe, iste ullam! Deleniti unde velit labore accusantium iusto asperiores laboriosam laborum qui at molestias
  corrupti dolores eaque, quia alias maiores error, facere sapiente quas architecto impedit ea neque! Ratione placeat
  veniam, adipisci iste praesentium ad est corporis tempora sint eum alias voluptatem sed? Optio excepturi est ratione
  eveniet facilis explicabo? Quod nobis a quisquam. Officia, voluptates! Itaque numquam ad illo obcaecati accusantium
  temporibus atque totam rem corrupti excepturi sapiente nesciunt eum, facere ipsa, fugiat ipsam odit molestias quaerat
  minus enim repellat! Quaerat officia illum, dolore architecto, quibusdam eos consequuntur natus, nostrum est esse
  exercitationem? Exercitationem laudantium, obcaecati iure quos doloribus dolorem nostrum blanditiis ipsa eaque
  officiis deleniti pariatur sapiente, amet quasi ullam vitae similique numquam quas voluptates sit assumenda. Expedita
  quidem voluptatem nam. Corrupti nam rerum ab quibusdam natus aut ex quos debitis, error similique asperiores dolores.
  Nobis mollitia porro expedita voluptatum, voluptatibus est repellendus accusantium esse fuga dolore exercitationem
  dignissimos veniam sed aperiam quasi laborum fugit, neque quidem ut odit, reprehenderit ratione. Unde nulla iusto
  saepe sit, quisquam error soluta similique maxime voluptate nisi velit expedita quis eveniet cumque magnam sed?
  Dolores explicabo qui velit, dicta quidem quod alias, necessitatibus deserunt culpa tempora id facilis corrupti
  dolorum amet fugiat optio iusto delectus maiores repellat pariatur aliquam ullam. Totam numquam nulla quia ut,
  praesentium ex nemo ipsum libero doloribus magni esse odit vitae magnam cumque voluptatibus, necessitatibus maiores!
  Adipisci, fuga eligendi incidunt explicabo aperiam ad, optio, neque eaque numquam quisquam perferendis pariatur
  facilis iste quis enim. Sunt saepe commodi illo ut, aut amet eligendi natus, odit vero nobis exercitationem.
</router-outlet>