:host {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
}

nz-header,
nz-footer {
    text-align: center;
    // background: #4096ff;
    color: #fff;
}

nz-header {
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
}

nz-sider {
    text-align: center;
    color: #fff;
    line-height: 120px;
}

nz-content {
    text-align: center;
    // background: #0958d9;
    color: #fff;
    min-height: 120px;
    line-height: 120px;

}

app-package {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    
}

:host>nz-layout {
    width: calc(100vw);
    max-width: calc(100vw);
    height: 100vh;
    overflow: hidden;
}
.ant-layout-header {
    background-color: #fff;
}