<div class="single-gift-container">
    <nz-page-header class="site-page-header" nzBackIcon>
        <nz-page-header-title>{{gift?.name}}</nz-page-header-title>
        <nz-page-header-tags>
            <nz-tag [nzColor]="gift?.isPackageAble ? 'success' : 'default'">
                {{gift?.isPackageAble ? 'ניתן לצרף לחבילה' : 'לא ניתן לצרף לחבילה'}}
            </nz-tag>
        </nz-page-header-tags>
    </nz-page-header>

    <div class="gift-content">
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionPlus,number,  actionMinus]">
            <nz-card-meta [nzTitle]="gift?.name || '' " [nzDescription]="gift?.description || '' ">
            </nz-card-meta>

            <nz-divider></nz-divider>

            <nz-descriptions nzBordered [nzColumn]="1">
                <nz-descriptions-item nzTitle="מחיר">
                    <nz-statistic [nzValue]="gift?.price" [nzPrefix]="'₪'" [nzValueStyle]="{ color: '#cf1322' }">
                    </nz-statistic>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="שווי המתנה">
                    <nz-statistic [nzValue]="gift?.giftValue" [nzPrefix]="'₪'" [nzValueStyle]="{ color: '#3f8600' }">
                    </nz-statistic>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="קטגוריה">
                    <nz-tag nzColor="blue">{{gift?.categoryName}}</nz-tag>
                </nz-descriptions-item>

                <nz-descriptions-item nzTitle="תורם">
                    <span nz-icon nzType="shop" nzTheme="outline"></span>
                    {{gift?.companyName}}
                </nz-descriptions-item>
            </nz-descriptions>
        </nz-card>
    </div>
</div>

<ng-template #coverTemplate>
    <img alt="{{gift?.name}}" [src]="'http://localhost:5025/images/' + gift?.imageUrl" />
</ng-template>

<ng-template #actionPlus>
    @if(lotteryStarted && !lotteryfinished){
    <div (click)="updateGift(giftId, 1)">+</div>}
</ng-template>
<ng-template #actionMinus>
    @if(lotteryStarted && !lotteryfinished){
    <div (click)="updateGift(giftId, -1)">-</div>}
</ng-template>
<ng-template #number>
        @if(lotteryStarted && !lotteryfinished){
        {{ getGiftQuantity(giftId) }}
        }
        @else {
            @if(lotteryfinished){
        @if(gift?.winner != " ") {
        {{`הזוכה במתנה :  ${gift?.winner} ` }}
        }
        @else {
        {{`מתנה זו עדיין לא הוגרלה`}}
        }
        }
        @else {
        {{"עדיין לא ניתן לרכוש"}}
        }
        }
    </ng-template>