<h2 class="page-title">מתנות</h2>
<div class="gifts-grid">
    <div class="page-description">
        מתנות אלו לא ניתן לצרף לחבילה, אך ניתן לרכוש אותן בנפרד.
    </div>
    @for(gift of allGifts; track gift.id) {
        @if(!gift.isPackageAble) {
            <nz-card style="width:100%;" [nzCover]="coverTemplate" [nzExtra]="extraTemplate"
            [nzActions]="[rightAction, middleAction, leftAction]">
            <a routerLink="gift/{{gift.id}}">
            <nz-card-meta nzTitle={{gift.name}} nzDescription=" שווי המתנה: ₪{{gift.giftValue}} "></nz-card-meta>
        <div>עלות כרטיס: ₪{{gift.price}}</div>
        <div>רכישות קודמות: {{gift.oldPurchaseCount}}</div>
        </a>
    </nz-card>
    }
    <ng-template #extraTemplate>
        <div>{{gift.categoryName}}</div>
    </ng-template>
    <ng-template #avatarTemplate>
        <nz-avatar nzSrc='http://localhost:5025/images/{{gift.imageUrl}}'></nz-avatar>
    </ng-template>

    <ng-template #coverTemplate>
        <img alt="example" src="http://localhost:5025/images/{{gift.imageUrl}}" />
    </ng-template>

    <ng-template #rightAction>
        @if(admin){
        <nz-icon nzType="delete" nzTheme="outline" />
        }
        @else {
        <nz-icon nzType="minus" nzTheme="outline" (click)="updateGift(gift.id, -1)"></nz-icon>
        }
    </ng-template>


    <ng-template #middleAction>
        @if(!admin){
        {{
        getGiftQuantity(gift.id)
        }}
        }

    </ng-template>

    <ng-template #leftAction>
        @if(admin){
        <nz-icon nzType="edit" />
        }
        @else {
        <nz-icon nzType="plus" nzTheme="outline" (click)="updateGift(gift.id, 1)"></nz-icon>
        }
    </ng-template>
    }
    <div class="page-description">
        מתנות אלו ניתן לצרף לחבילה.
    </div>
    @for(gift of allGifts; track gift.id) {
    @if(gift.isPackageAble)
    {
        <nz-card style="width:100%;" [nzExtra]="extraTemplate" [nzCover]="coverTemplate"
        [nzActions]="[rightAction, middleAction, leftAction]">
        <a routerLink="gift/{{gift.id}}">
            <nz-card-meta nzTitle={{gift.name}} nzDescription=" שווי המתנה: ₪{{gift.giftValue}} "></nz-card-meta>
            <div>רכישות קודמות: {{gift.oldPurchaseCount}}</div>
        </a>
        </nz-card>
    }
    <ng-template #extraTemplate>
        <div>{{gift.categoryName}}</div>
    </ng-template>
    <ng-template #avatarTemplate>
        <nz-avatar nzSrc="http://localhost:5025/images/gift.png"></nz-avatar>
    </ng-template>

    <ng-template #coverTemplate>
        <img alt="example" src="http://localhost:5025/images/gift.png" />
    </ng-template>

    <ng-template #rightAction>
        @if(admin){
        <nz-icon nzType="delete" nzTheme="outline" />
        }
        @else {
        <nz-icon nzType="minus" nzTheme="outline" (click)="updateGift(gift.id, -1)"></nz-icon>
        }
    </ng-template>

    <ng-template #middleAction>
        @if(!admin){
        {{ getGiftQuantity(gift.id)}}
        }

    </ng-template>

    <ng-template #leftAction>
        @if(admin){
        <nz-icon nzType="edit" />
        }
        @else {
        <nz-icon nzType="plus" nzTheme="outline" (click)="updateGift(gift.id, 1)"></nz-icon>
        }
    </ng-template>
    }
</div>

<a nz-button nzType="primary" routerLink="add">
    <span>הוסף מתנה</span>
</a>