<div class="header-container">
    <nz-select [(ngModel)]="selectedLottery" (ngModelChange)="lotteryChange($event)">
        @for (p of lotteryData; track p.id) {
        <nz-option [nzValue]="p" [nzLabel]="p.name"></nz-option>
        }
    </nz-select>
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item>
            <a routerLink="packages">חבילות</a>
        </li>
        <!-- target="_blank" אם רוצים לשלוח לדף חדש להוסיף  -->

        <li nz-menu-item>
            <a routerLink="gifts">מתנות</a>
        </li>
        <li nz-menu-item>
            <a routerLink="donors">תורמים</a>
        </li>
        <li nz-menu-item>
            <a routerLink="home">בית</a>
        </li>

        <li nz-menu-item>
            <a routerLink="packages">יצירת קשר</a>
        </li>
    </ul>
    <ul nz-menu nzMode="horizontal" class="auth-menu">
        <li nz-menu-item>
            <a routerLink="home" (click)="logout()">יציאה</a>
        </li>
        <li nz-menu-item>
            <a routerLink="login">התחברות</a>
        </li>
        <li nz-menu-item>
            <a routerLink="register">הרשמה</a>
        </li>
    </ul>
</div>
@if(user) {
<div class="user-info">
    <span>שלום, {{user.firstName}} {{user.lastName}}</span>
    <!-- <button nz-button nzType="link" (click)="logout()">יציאה</button> -->
</div>
}
