<p>gift works!</p>
<p>gift.component works!</p>

<!-- @for(gift of allGifts(); track gift.id) {
  <div>
    <h3>{{ gift.name }}</h3>
    <p>Price: {{ gift.price }}</p>
    <p>Description: {{ gift?.description }}</p>
  </div>
} -->

<!-- @for (item of items; track $index) {} -->

@for (gift of allGifts(); track $index) {
  <div style="border: 1px solid gray; margin-bottom: 10px; padding: 10px;">
    <h3>{{ gift[1] }}</h3>
    <p>{{ gift[1] }}</p>
    <!-- <p>Description: {{ gift?.description }}</p> -->
  </div>
}