<h2 class="page-title">חבילות
  @if(!global.lotteryStart && canCreatePackage) {
  <a nz-button nzType="primary" routerLink="add" class="add-button">
    <span nz-icon nzType="plus"></span>
    <span>הוסף חבילה</span>
  </a>
  }
</h2>
<div class="packages-grid">
  <div class="page-description">
    חבילות משתלמות לרכישת כרטיסים במחיר מיוחד.
  </div>
  @for(package of allPackages; track package.id) {
  <nz-card style="width:100%;" [nzCover]="coverTemplate" [nzActions]="[rightAction, middleAction, leftAction]">
    <a routerLink="package/{{package.id}}">
      <nz-card-meta nzTitle={{package.name}} nzDescription="{{package.description}}"></nz-card-meta>
      <div>כמות כרטיסים: {{package.numOfCards}}</div>
      <div>מחיר: ₪{{package.price}}</div>
    </a>
  </nz-card>

  <ng-template #coverTemplate>
    @if(package.imageUrl) {
    <img alt="example" src="http://localhost:5025/images/{{package.imageUrl}}" />
    }
  </ng-template>

  <ng-template #rightAction>
    @if(admin){
    @if(!global.lotteryStarted()){
    <nz-icon nzType="delete" nzTheme="outline" (click)="showDeleteConfirm(package.id)" />
    }}
    @else {
      @if(global.lotteryStarted() && !global.lotteryFinished()){
    <nz-icon nzType="minus" nzTheme="outline" (click)="packageService.updateQty(package, -1)"></nz-icon>
    }
    }
  </ng-template>
  <ng-template #middleAction>
    @if(global.lotteryStarted() && !global.lotteryFinished()){
    @if(!admin){
    {{packageService.getPackageQuantity(package.id)}}
    }
    }
    @else {
    @if(!admin) {
    {{"לא ניתן לרכוש חבילות"}}
    }}
  </ng-template>
  <ng-template #leftAction>

    @if(admin){
    @if(!global.lotteryStarted()){
    <nz-icon nzType="edit" (click)="editPackage(package.id)"></nz-icon>
    }}
    @else {
      @if(global.lotteryStarted() && !global.lotteryFinished()){
    <nz-icon nzType="plus" nzTheme="outline" (click)="packageService.updateQty(package, 1)"></nz-icon>
    }}
  </ng-template>
  }
</div>